<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div style="width: 60%; margin-right: auto; margin-left:auto">
    <form action="#" th:action="@{/save}" th:object="${person}" method="post">
        <h1 style="text-align: center;"><b>Add Person</b></h1>
        <table class="table pull-right">
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td>
                    <input type="text" th:field="*{surname}"/>
                </td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>
                    <input type="number" th:field="*{age}"/>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <input type="text" th:field="*{description}"/>
                </td>
            </tr>
        </table>
        <div class="pull-right">
        <a class="btn btn-primary" href="#" th:href="@{/all}">Cancel</a>
        <input class="btn btn-success " type="submit" id="submitButton" th:value="Save">
        </div>
    </form>
</div>
</body>
</html>